<% provide(:title, t("event.heading")) %>
<div class="row align-items-center">
  <div class="col-md-auto">
    <h3 class="text-light"><%= t("event.heading") %></h3>
  </div>
  <div class="col-md-auto">
    <%= link_to t("event.new"), new_event_path, 
                class: "btn btn-sm btn-outline-light" if admin_user? %>
  </div>
</div>

<div class="album py-2">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @events.each do |event| %>
        <div class="col">
          <div class="card shadow-sm" style="background-color: #f1e5f1">

            <%= image_tag(event.thumbnail_url, 
                        class: "card-img-top") if event.thumbnail.present? %>
            <div class="card-body">
              <p class="small card-text">
                <b><%= event.title %></b><br>
                <i><%= l(event.event_date, format: :event) %></i>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to t(:view_button), event, 
                          class: "btn btn-sm btn-outline-dark" %> 
                  <%= link_to t(:edit_button), edit_event_path(event), 
                            class: "btn btn-sm btn-outline-dark" if admin_user? %> 


                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
