<% provide(:title, t("gallery.title.index")) %>
<div class="row align-items-center">
  <div class="col-md-auto">
    <h3 class="text-light"><%= t("gallery.heading") %></h3>
  </div>
  <div class="col-md-auto">
    <%= link_to t("gallery.new"), new_gallery_path, 
                class: "btn btn-sm btn-outline-light" if admin_user? %>
  </div>
</div>
<% if @pagy.pages > 1 %>
  <div class="d-flex justify-content-center">
    <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
  </div>
<% end %>

<div class="album py-2">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @galleries.each do |gallery| %>
        <div class="col gallery-listing-col">
          <div class="card shadow-sm <%= gallery.published ? "published" : "unpublished" %>">

            <%= image_tag(gallery.thumbnail_url, 
                        class: "card-img-top") if gallery.thumbnail.present? %>
            <div class="card-body">
              <p class="small card-text">
                <%= gallery.title %>
                <%== "<strong><em> Unpublished</em></strong>" if !gallery.published %>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to t(:view_button), gallery, 
                          class: "btn btn-sm btn-outline-dark" %> 
                  <%= link_to t(:edit_button), edit_gallery_path(gallery), 
                            class: "btn btn-sm btn-outline-dark" if admin_user? %> 
                  <%= link_to t(:delete_button), gallery, class: "btn btn-sm btn-outline-dark", 
                            method: :delete, data: { confirm: t(:delete_confirmation) } if admin_user? %>
                </div>
                <span class="text-end">
                  <%= "#{t(:sort)}: #{gallery.sort_order}" if admin_user? %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if @pagy.pages > 1 %>
  <div class="d-flex justify-content-center">
    <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
  </div>
<% end %>
