<footer class="text-center mt-auto small footer">
  <div class="bg-secondary container-fluid">

    <div class="row p-1">
      <div class="col">
        <h5 class="text-uppercase mb-0 header-light-footer"><%= t(:resources) %></h5>
         <ul class="list-unstyled mb-0">
          <li>
            <a href="http://mangroveworld.org" target="_blank" class="text-light-footer">
              <%= t(:mangrove_world) %>
            </a>
          </li>
          <li>
            <%= link_to t(:links), links_path, class: "text-light-footer" %>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5 class="text-uppercase mb-0 header-light-footer"><%= t(:photographers) %></h5>
          <ul class="list-unstyled mb-0">
            <li>
              <%= link_to "Alfredo Pastor", photographer_1_path, 
                          class: "text-light-footer" %>
            </li>
            <li>
              <%= link_to "James Phillips", photographer_2_path, 
                            class: "text-light-footer" %>
            </li>
            <li>
              <%= link_to "Carolyn Stutt", photographer_3_path, 
                            class: "text-light-footer" %>
            </li>
          </ul>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <% if logged_in? %>
          <%= link_to t(:logout), logout_path, class: "me-4 text-light-footer", 
                        method: :delete %>
        <% else %>
          <%= link_to t(:login), login_path, class: "me-4 text-light-footer" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center mgf-footer">
    <div class="row p-2">
      <div class="col text-start">
        © 2022 Copyright:
        <a class="text-dark-footer" href="#">mangrovegarden.org</a>
      </div>
      <div class="col text-end">
        Developed by: 
        <a href="#" target="_blank" class="text-dark-footer">NTR Computer Services</a>
      </div>
    </div>

 </div>

</footer>
