<nav class="navbar navbar-expand-lg navbar-light mgf-navbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand brand" do %>
      <div class="pt-2">
        <div class="brand-text"> Mangrove Garden </div>
        <div class="brand-text text-center"> Foundation </div>
      </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown d-flex align-items-center">
          <a class="nav-link dropdown-toggle lh-1" href="#" id="navbarDropdown" 
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-info-circle pe-1"></i><%= t "about_us" %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to t(:about_us), about_path, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to t(:mission), mission_path, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to t(:hisotry), history_path, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to t(:philosophy), philosophy_path, class: "dropdown-item" %>
            </li>
          </ul>
        </li>

        <li class="nav-item d-flex align-items-center">
          <%= link_to t(:mangrove_library), libraries_path, class: "nav-link lh-1" %> 
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to t(:events), events_path, class: "nav-link lh-1" %> 
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to t(:photo_gallery), galleries_path, class: "nav-link lh-1" %>
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to new_contact_form_path, class: "nav-link lh-1" do %>
            <i class="bi-telephone pe-1"></i><%= t(:contact_us) %>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-flex align-items-center text-nowrap">
          <% if I18n.locale == :en %> 
            <span class="nav-text lh-1 fst-italic">English |</span>
            <%= link_to 'Español', url_for( :locale => 'es' ), class: "nav-link lh-1" %>
          <% else %>
            <%= link_to 'English', url_for( :locale => 'en' ), class: "nav-link lh-1" %>
            <span class="nav-text lh-1 fst-italic">| Español</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>